<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
    /**        all: initial; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h1 class="jumbotron"> TEST IRON PAGES </h1>
    <select value="{{componentName::change}}" placeholder="Seleccionar componente">
      <option value=" ">Seleccionar componente </option>
      <option value="login-usuario">Login Usuario </option>
      <option value="visor-usuario">Visor Usuario </option>
    </select>
    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
        <div component-name="login-usuario"><login-usuario></login-usuario></div>
        <div component-name="visor-usuario"><visor-usuario id="3"></visor-usuario></div>
    </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
            componentName : {
              type: String
            }
        };
      }

    }

    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
