<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
    /**        all: initial; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <input placeholder="email" type="email" value="{{email::input}}"></input>
    <input placeholder="password" type="password" value="{{password::input}}"></input>
    <!-- login es la funcion manejadora... que tenemos en la parte del script-->
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de Nuevo !!!!</span>

<!-- on-response función que se lanzara si va bien -->
<!-- on-error función que se lanzara si va mal... errores 4** y 5** -->
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },  password: {
            type: String
          }, isLogged: {
            type : Boolean,
            value: false
          }
        };
      }
      manageAJAXResponse(data) {
        console.log("llegan los resultados");
        console.log(data.detail.response);
        this.isLogged = true;
        window.location = "user/" + data.detail.response.idUsuario;
      }

      login() {
        console.log("estamos en la funcion login del on-click");
        console.log("vamos a enviar la petición");
// es el body de la peticion de nuestro user
        var loginData = {
          "email" : this.email,
          "password" : this.password
        };
// ojo ponemos $ para referenciar a un elemento del dom local, shadow del componente polymer
        this.$.doLogin.body = JSON.stringify(loginData);
// lanzamos la petición
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");

      }
      showError(error) {
        console.log("ERROR .... ");
        console.log(error);
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
