<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
    /**        all: initial; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h5> Soy el Receptor del evento</h5>
    <h6> Este curso es {{course}}</h6>
    <h6> y estamos en el año {{year}}</h6>
    <input type="test" value="{{course::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course : {
            type: String,
            observer : '_courseChanged'
          }, year : {
            type : String
          }

        };
      }
      _courseChanged(newValue, oldValue) {
        console.log("la propiedad de course ha cambiado");
        console.log("oldValue:"+oldValue);
        console.log("newValue:"+newValue);

      }

    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
