<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
    /**        all: initial; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!--    <h2>Estas son tus cuentas [[first_name]] [[last_name]] </h2> -->
    <h2>Estas son tus cuentas  </h2>

    <div id="cuentas">
      <template
               is="dom-repeat"
               items="{{accounts}}"
               as="account"
             >
               <div>Iban: <span>{{account.iban}}</span> Balance: <span>{{account.balance}}</span></div>
           </template>
    </div>

    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v1/accounts/{{userId}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          }
        }

  //        iban: {
  //          type: String
  //        }, balance: {
  //          type: Number
  //        }, userId: {
  //          type: Number
  //        }
        };


      showData(data) {
          console.log("estoy en showData de cuentas por id");
  //        console.log(data.detail.response);
  //        console.log(data.detail.response[0].iban);
  //        console.log(data.detail.response[0].balance);

          this.accounts = data.detail.response;
          console.log(this.accounts);

  //        this.iban = data.detail.response[0].iban;
  //        this.balance =  data.detail.response[0].balance;


    //      console.log(data.detail.response.iban);
    //      console.log(data.detail.response.balance);
    //      console.log(data.detail.response.user_id);

    //     this.iban = data.detail.response.iban;
    //     this.balance = data.detail.response.balance;


      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
