<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">
  <template>
    <style>
      :host {
        display: block;
    /**        all: initial; */
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h5> Emisor evento</h5>
    <button on-click="sendEvent"> No pulsar</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EmisorEvento extends Polymer.Element {
      static get is() { return 'emisor-evento'; }
      static get properties() {
        return {

        };
      }
      sendEvent(e) {
        console.log("estoy en sendEvent");
        console.log(e);
        this.dispatchEvent(
          new CustomEvent(
            // ojo poner el nombre del evento en minusculas
            "myevent",
            {
              // en el datail metemos lo que queramos enviar
              "detail" : {
                "course" : "Techu",
                "year" : 2018
              }
            }
          )
        );
      }
    }

    window.customElements.define(EmisorEvento.is, EmisorEvento);
  </script>
</dom-module>
